<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="eventBean" class="core.Event" scope="singleton">
		<constructor-arg name="name" value="Happy Hours"/>
	</bean>

	<bean id="pubBean" class="core.Pub" scope="prototype">
        <property name="name" value="Grund"/>
        <property name="address" value="Bp.,VIII. Nagytemplom utca 30."/>
        <property name="message" value="Cheers!"/>
        <property name="event" ref="eventBean"/>
    </bean>

</beans>